In [2]:
# import pandas lib as pd
import pandas as pd
import sklearn
# read by default 1st sheet of an excel file
# dataframe1 = pd.read_excel('E://REVA//Healthcare Providers Data For Anomaly Detection//Medicare1//2021_CA_Data.xlsx',sheet_name="Sheet1",header=0)
dataframe1 = pd.read_excel('E://GitHub//healthcare_provider_recommendation//2021_CA_Data.xlsx',sheet_name="data1",header=0)

In [3]:
dataframe1.head()

,Rndrng_NPI,Rndrng_Prvdr_Last_Org_Name,Rndrng_Prvdr_First_Name,Rndrng_Prvdr_MI,Rndrng_Prvdr_Crdntls,Rndrng_Prvdr_Gndr,Rndrng_Prvdr_Ent_Cd,Rndrng_Prvdr_St1,Rndrng_Prvdr_St2,Rndrng_Prvdr_City,...,Tot_Bene_Day_Srvcs,Avg_Sbmtd_Chrg,Avg_Mdcr_Alowd_Amt,Avg_Mdcr_Pymt_Amt,Avg_Mdcr_Stdzd_Amt,LAT,LNG,HCPCS_category,HCPCS_sub category,match
0,1326080128,Hekmati,Arman,NaN,M.D.,M,I,6360 Wilshire Blvd,# 203,Los Angeles,...,709,70.00,51.31,51.31,50.29,34.072924,-118.37271,covid-19,"2019-ncov coronavirus, sars-cov-2/2019-ncov ()...",90048
1,1316951171,Kawana,Alex,Y,M.D,M,I,8737 Beverly Blvd,Suite # 203,West Hollywood,...,18,150.00,75.00,75.00,73.50,34.072924,-118.37271,covid-19,"2019-ncov coronavirus, sars-cov-2/2019-ncov ()...",90048
2,1396765996,Qasabian,Levon,NaN,M.D,M,I,8737 Beverly Blvd,Suite # 203,West Hollywood,...,95,150.00,75.00,75.00,73.50,34.072924,-118.37271,covid-19,"2019-ncov coronavirus, sars-cov-2/2019-ncov ()...",90048
3,1073542338,Siegel,Robert,J,M.D.,M,I,8700 Beverly Bvd.,NaN,Los Angeles,...,115,31.45,10.54,8.45,7.66,34.072924,-118.37271,3d radiographic procedure,NaN,90048
4,1154418291,Cheng,Susan,NaN,M.D.,F,I,127 S San Vicente Blvd Ste A3600,NaN,Los Angeles,...,15,31.20,10.45,8.36,7.66,34.072924,-118.37271,3d radiographic procedure,NaN,90048

In [4]:
dataframe1.columns

Index(['Rndrng_NPI', 'Rndrng_Prvdr_Last_Org_Name', 'Rndrng_Prvdr_First_Name',
       'Rndrng_Prvdr_MI', 'Rndrng_Prvdr_Crdntls', 'Rndrng_Prvdr_Gndr',
       'Rndrng_Prvdr_Ent_Cd', 'Rndrng_Prvdr_St1', 'Rndrng_Prvdr_St2',
       'Rndrng_Prvdr_City', 'Rndrng_Prvdr_State_Abrvtn',
       'Rndrng_Prvdr_State_FIPS', 'Rndrng_Prvdr_Zip5', 'Rndrng_Prvdr_RUCA',
       'Rndrng_Prvdr_RUCA_Desc', 'Rndrng_Prvdr_Cntry', 'Rndrng_Prvdr_Type',
       'Rndrng_Prvdr_Mdcr_Prtcptg_Ind', 'HCPCS_Cd', 'HCPCS_Desc',
       'HCPCS_Drug_Ind', 'Place_Of_Srvc', 'Tot_Benes', 'Tot_Srvcs',
       'Tot_Bene_Day_Srvcs', 'Avg_Sbmtd_Chrg', 'Avg_Mdcr_Alowd_Amt',
       'Avg_Mdcr_Pymt_Amt', 'Avg_Mdcr_Stdzd_Amt', 'LAT', 'LNG',
       'HCPCS_category', 'HCPCS_sub category', 'match'],
      dtype='object')

In [5]:
# dataframe1.shape()

In [6]:
dataframe1['Rndrng_Prvdr_Zip5'].value_counts()

Rndrng_Prvdr_Zip5
92103    16207
90095    14172
94305    12771
90048    11945
93720    11248
95816    10787
94143     8472
92128     1978
95834      903
91304      720
Name: count, dtype: int64

In [7]:
df1 = dataframe1[dataframe1['Rndrng_Prvdr_Zip5'] == 90095] #user input
#rslt_df = rslt_df[rslt_df['hp descr'] like  'patient'] #user input

print(df1[0:2])

       Rndrng_NPI Rndrng_Prvdr_Last_Org_Name Rndrng_Prvdr_First_Name  \
11945  1154453769                    Maddahi                 Jamshid
11946  1013193101                    Itagaki                 Brandon

      Rndrng_Prvdr_MI Rndrng_Prvdr_Crdntls Rndrng_Prvdr_Gndr  \
11945             NaN                 M.D.                 M
11946               K                 M.D.                 M

      Rndrng_Prvdr_Ent_Cd            Rndrng_Prvdr_St1 Rndrng_Prvdr_St2  \
11945                   I  100 Ucla Medical Plz # 410              NaN
11946                   I          10833 Le Conte Ave              NaN

      Rndrng_Prvdr_City  ... Tot_Bene_Day_Srvcs  Avg_Sbmtd_Chrg  \
11945       Los Angeles  ...                126          100.00
11946       Los Angeles  ...                 17           25.35

       Avg_Mdcr_Alowd_Amt  Avg_Mdcr_Pymt_Amt Avg_Mdcr_Stdzd_Amt      LAT  \
11945               51.31              51.31              50.28  34.0712
11946                9.64               7.74               7.76  34.0712

              LNG             HCPCS_category  \
11945 -118.443523                   covid-19
11946 -118.443523  3d radiographic procedure

                                      HCPCS_sub category  match
11945  2019-ncov coronavirus, sars-cov-2/2019-ncov ()...  90095
11946                                                NaN  90095

[2 rows x 34 columns]

In [8]:
df1.describe()

,Rndrng_NPI,Rndrng_Prvdr_State_FIPS,Rndrng_Prvdr_Zip5,Rndrng_Prvdr_RUCA,Tot_Benes,Tot_Srvcs,Tot_Bene_Day_Srvcs,Avg_Sbmtd_Chrg,Avg_Mdcr_Alowd_Amt,Avg_Mdcr_Pymt_Amt,Avg_Mdcr_Stdzd_Amt,LAT,LNG,match
count,1.417200e+04,14172.0,14172.0,14172.0,14172.000000,14172.000000,14172.000000,14172.000000,14172.000000,14172.000000,14172.000000,1.417200e+04,1.417200e+04,14172.0
mean,1.495331e+09,6.0,90095.0,1.0,64.894157,207.793692,84.916384,730.943563,116.199185,90.918929,82.614994,3.407120e+01,-1.184435e+02,90095.0
std,2.865294e+08,0.0,0.0,0.0,299.228694,1418.361608,326.984140,1903.283022,209.919090,167.921381,148.301844,7.105678e-15,2.842271e-14,0.0
min,1.003001e+09,6.0,90095.0,1.0,11.000000,11.000000,11.000000,0.040000,0.030000,0.020000,0.020000,3.407120e+01,-1.184435e+02,90095.0
25%,1.275567e+09,6.0,90095.0,1.0,16.000000,19.000000,18.000000,148.000000,36.330000,27.502500,24.620000,3.407120e+01,-1.184435e+02,90095.0
50%,1.497056e+09,6.0,90095.0,1.0,28.000000,36.000000,33.000000,371.585000,77.720000,62.060000,56.965000,3.407120e+01,-1.184435e+02,90095.0
75%,1.730546e+09,6.0,90095.0,1.0,60.000000,87.000000,76.000000,858.000000,142.192500,106.965000,97.600000,3.407120e+01,-1.184435e+02,90095.0
max,1.992973e+09,6.0,90095.0,1.0,22543.000000,63065.000000,22621.000000,65050.000000,11661.140000,9340.240000,7787.760000,3.407120e+01,-1.184435e+02,90095.0

In [9]:
df1['Rndrng_Prvdr_Zip5'].value_counts()

Rndrng_Prvdr_Zip5
90095    14172
Name: count, dtype: int64

In [10]:
df1['HCPCS_Desc'].value_counts()

HCPCS_Desc
Established patient outpatient visit, total time 30-39 minutes                                                                       603
Established patient outpatient visit, total time 20-29 minutes                                                                       492
Established patient outpatient visit, total time 40-54 minutes                                                                       331
New patient outpatient visit, total time 45-59 minutes                                                                               290
Subsequent hospital inpatient care, typically 35 minutes per day                                                                     261
                                                                                                                                    ...
Radiological supervision and interpretation of mri guidance for insertion of needle                                                    1
Fine needle aspiration of orbital contents                                                                                             1
Radiological supervision and interpretation of imaging of vein of one arm or leg                                                       1
Radiological supervision and interpretation of imaging of artery of pelvis                                                             1
2019-ncov coronavirus, sars-cov-2/2019-ncov (covid-19), any technique, multiple types or subtypes (includes all targets), non-cdc      1
Name: count, Length: 1182, dtype: int64

In [11]:
df2=df1[df1["HCPCS_Desc"].str.contains("patient")]

In [12]:
df2.head()

,Rndrng_NPI,Rndrng_Prvdr_Last_Org_Name,Rndrng_Prvdr_First_Name,Rndrng_Prvdr_MI,Rndrng_Prvdr_Crdntls,Rndrng_Prvdr_Gndr,Rndrng_Prvdr_Ent_Cd,Rndrng_Prvdr_St1,Rndrng_Prvdr_St2,Rndrng_Prvdr_City,...,Tot_Bene_Day_Srvcs,Avg_Sbmtd_Chrg,Avg_Mdcr_Alowd_Amt,Avg_Mdcr_Pymt_Amt,Avg_Mdcr_Stdzd_Amt,LAT,LNG,HCPCS_category,HCPCS_sub category,match
12608,1295154102,Carroll,William,NaN,NaN,M,I,200 Ucla Medical Plz Ste 420,NaN,Los Angeles,...,7316,505.0,12.58,9.02,8.09,34.0712,-118.443523,Anti-clotting management for patient taking wa...,NaN,90095
12609,1295154102,Carroll,William,NaN,NaN,M,I,200 Ucla Medical Plz Ste 420,NaN,Los Angeles,...,19,505.0,12.67,8.56,7.66,34.0712,-118.443523,Anti-clotting management for patient taking wa...,NaN,90095
12671,1407879216,Jen,Joanna,C,MD,F,I,300 Medical Plaza,#b200,Los Angeles,...,18,420.0,147.24,118.15,95.21,34.0712,-118.443523,Assessment and recording,of abnormal eye movement with patient in a ro...,90095
12674,1528449709,Escalante,Winnila May,Q,N.P.,F,I,200 Ucla Medical Plz Ste 365a,NaN,Los Angeles,...,108,1050.0,181.23,125.63,114.54,34.0712,-118.443523,less than 100,Assessment of and care planning for patient wi...,90095
12675,1528449709,Escalante,Winnila May,Q,N.P.,F,I,200 Ucla Medical Plz Ste 365a,NaN,Los Angeles,...,11,1050.0,264.87,211.90,188.36,34.0712,-118.443523,less than 100,Assessment of and care planning for patient wi...,90095

In [13]:
df2.describe()

,Rndrng_NPI,Rndrng_Prvdr_State_FIPS,Rndrng_Prvdr_Zip5,Rndrng_Prvdr_RUCA,Tot_Benes,Tot_Srvcs,Tot_Bene_Day_Srvcs,Avg_Sbmtd_Chrg,Avg_Mdcr_Alowd_Amt,Avg_Mdcr_Pymt_Amt,Avg_Mdcr_Stdzd_Amt,LAT,LNG,match
count,3.823000e+03,3823.0,3823.0,3823.0,3823.000000,3823.000000,3823.000000,3823.000000,3823.000000,3823.000000,3823.000000,3.823000e+03,3.823000e+03,3823.0
mean,1.505785e+09,6.0,90095.0,1.0,58.209521,101.159037,99.025896,744.284625,136.037936,104.030463,96.774677,3.407120e+01,-1.184435e+02,90095.0
std,2.929540e+08,0.0,0.0,0.0,76.120246,203.852300,195.155317,565.781413,77.146373,62.647203,54.921113,7.106357e-15,2.842543e-14,0.0
min,1.003001e+09,6.0,90095.0,1.0,11.000000,11.000000,11.000000,19.590000,8.320000,6.280000,5.700000,3.407120e+01,-1.184435e+02,90095.0
25%,1.235457e+09,6.0,90095.0,1.0,18.000000,22.000000,21.000000,402.000000,97.025000,68.335000,66.200000,3.407120e+01,-1.184435e+02,90095.0
50%,1.518260e+09,6.0,90095.0,1.0,32.000000,44.000000,43.000000,680.000000,118.290000,90.690000,86.810000,3.407120e+01,-1.184435e+02,90095.0
75%,1.765466e+09,6.0,90095.0,1.0,68.000000,103.000000,102.000000,960.000000,184.790000,136.405000,124.345000,3.407120e+01,-1.184435e+02,90095.0
max,1.992973e+09,6.0,90095.0,1.0,1278.000000,7316.000000,7316.000000,8000.000000,1285.810000,1032.080000,879.040000,3.407120e+01,-1.184435e+02,90095.0

In [14]:
df2['HCPCS_Desc'].value_counts()

HCPCS_Desc
Established patient outpatient visit, total time 30-39 minutes                                                                                                    603
Established patient outpatient visit, total time 20-29 minutes                                                                                                    492
Established patient outpatient visit, total time 40-54 minutes                                                                                                    331
New patient outpatient visit, total time 45-59 minutes                                                                                                            290
Subsequent hospital inpatient care, typically 35 minutes per day                                                                                                  261
                                                                                                                                                                 ...
Online digital evaluation and management service, for an established patient, for up to 7 days, cumulative time during the 7 days; 21 or more minutes               1
Relocation of patient skin to nose, ears, eyelids, and/or lips (20 sq centimeters or less)                                                                          1
Demonstration and/or evaluation of patient use of aerosol generator, nebulizer, metered dose inhaler or intermittent positive pressure breathing (ippb) device      1
Diabetes outpatient self-management training services, individual, per 30 minutes                                                                                   1
Established patient home visit, typically 25 minutes                                                                                                                1
Name: count, Length: 72, dtype: int64

In [15]:
df3=df2

In [ ]:
df3.loc[:, 'Avg_Sbmtd_Chrg_rank_default'] = df3['Avg_Sbmtd_Chrg'].rank()
df3.loc[:, 'Tot_Bene_Day_Srvcs_rank_default'] = df3['Tot_Bene_Day_Srvcs'].rank()

In [ ]:
df3.loc[:, 'Avg_Sbmtd_Chrg_rank_natop'] = df3['Avg_Sbmtd_Chrg'].rank(na_option='top')
df3.loc[:, 'Avg_Sbmtd_Chrg_rank_nabottom'] = df3['Avg_Sbmtd_Chrg'].rank(na_option='bottom')

In [ ]:
df3.loc[:, 'Tot_Bene_Day_Srvcs_rank_natop'] = df3['Tot_Bene_Day_Srvcs'].rank(na_option='top')
df3.loc[:, 'Tot_Bene_Day_Srvcs_rank_nabottom'] = df3['Tot_Bene_Day_Srvcs'].rank(na_option='bottom')

In [ ]:
df3.head()

In [ ]:
# Import TfIdfVectorizer from scikit-learn

from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'
tfidf = TfidfVectorizer(stop_words='english')

#Replace NaN with an empty string
df3.loc[df3['HCPCS_Desc'].isnull(), 'HCPCS_Desc'] = ''

#Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(df3['HCPCS_Desc'])

#Output the shape of tfidf_matrix
tfidf_matrix.shape

In [ ]:
#Array mapping from feature integer indices to feature name.
tfidf_matrix_array = tfidf_matrix[1:50].toarray()
print(tfidf_matrix_array)

In [ ]:
# Import linear_kernel
from sklearn.metrics.pairwise import linear_kernel

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [ ]:
cosine_sim.shape

In [ ]:
cosine_sim[1]

In [ ]:
#Construct a reverse map of indices and movie titles
indices = pd.Series(df3.index, index=df3['HCPCS_Desc']).drop_duplicates()

In [ ]:
indices[:10]

In [ ]:
# Function that takes in movie title as input and outputs most similar movies
def get_recommendations(HCPCS_Desc, cosine_sim=cosine_sim):
    # Get the index of the movie that matches the title
    idx = indices[HCPCS_Desc]

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return df3['HCPCS_Desc'].iloc[movie_indices]

In [ ]:
get_recommendations('Anti-clotting management for patient taking warfarin')

In [ ]:
# Filter the original dataframe based on conditions
filtered_df = df1[(df1['Rndrng_Prvdr_Zip5'] == 90095) & df1['HCPCS_Desc'].str.contains('patient', case=False, na=False)]

# Create a new dataframe using the filtered data
second_dataframe = pd.DataFrame(filtered_df)

# Reset the index of the new dataframe
second_dataframe.reset_index(drop=True, inplace=True)

In [ ]:
second_dataframe.head()

In [ ]:
second_dataframe['Avg_Sbmtd_Chrg_rank_default'] = second_dataframe['Avg_Sbmtd_Chrg'].rank()
second_dataframe['Avg_Sbmtd_Chrg_rank_natop'] = second_dataframe['Avg_Sbmtd_Chrg'].rank(na_option='top')
second_dataframe['Avg_Sbmtd_Chrg_rank_nabottom'] = second_dataframe['Avg_Sbmtd_Chrg'].rank(na_option='bottom')
second_dataframe.loc[:, 'Avg_Sbmtd_Chrg_rank_default'] = second_dataframe['Avg_Sbmtd_Chrg'].rank()
second_dataframe.loc[:, 'Avg_Sbmtd_Chrg_rank_natop'] = second_dataframe['Avg_Sbmtd_Chrg'].rank(na_option='top')
second_dataframe.loc[:, 'Avg_Sbmtd_Chrg_rank_nabottom'] = second_dataframe['Avg_Sbmtd_Chrg'].rank(na_option='bottom')

In [ ]:
second_dataframe.head()

In [ ]:
second_dataframe.describe()

In [ ]:
# Assuming you have a DataFrame called df3
excel_filename = 'E://REVA//Healthcare Providers Data For Anomaly Detection//Medicare1//output1.xlsx'  # Specify the desired file name
second_dataframe.to_excel(excel_filename, index=False)
print(f"DataFrame exported to '{excel_filename}'")

In [ ]:
# Find columns with the same values in all rows
columns_to_drop = second_dataframe.columns[second_dataframe.nunique() == 1]

# Drop the identified columns
second_dataframe.drop(columns=columns_to_drop, inplace=True)

In [ ]:
second_dataframe.head()

In [ ]:
second_dataframe.describe()

In [ ]:
# bottom 5% of Avg_Sbmtd_Chrg
# and top 5% of Tot_Bene_Day_Srvcs
# to create a scorecard based on above logic

# second logic
# based on mode ( most occuring) of Avg_Sbmtd_Chrg
# 1400, 1400,1400,1400,1400,1400, 1390, 1450, 1490 - 
# anyone at mode is ok , then the second highest in the comparision is with highest number of Tot_Bene_Day_Srvcs